.side-chat
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ui.side-header__box__menu
        %li.list
          = link_to '/groups/new' do
            = icon('fa', 'edit',class: 'icon')
        %li.list
          = link_to "/users/#{current_user.id}/edit" do
            = icon('fa', 'cog',class: 'icon')


  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__latest-message
            = group.show_last_message